

:root{

--bg-color: #151320;
--conic-gradient: conic-gradient(
    #FF2E2E,
    #FF831E,
    #FCFF51,
    #58FF57,
    #575FFF,
    #D257FF,
    #FF57E5,
    #FF1556
);
}



body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.btn{
    width: 25em;
    height: 6em;
    border-radius: 1em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.5);
    position:sticky;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-top: 70px;
    transition: transform .3s ease;

}

.btn::before{
    content:'';
    position:absolute;
    width: 120%;
    height: 420%;
    background: var(--conic-gradient);
}

.btn::after{
    content: 'Object Detection Web App';
    position: absolute;
    background-color: var(--bg-color);
    width: 96%;
    height: 86%;
    border-radius: .4em;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    transform: scale(1.1);

}

.btn:hover::before{
    animation: spin 1.5s infinite linear;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.btn2{
    width: 12em;
    height: 3.5em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.5);
    position:relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    transition: transform .3s ease;
}

.btn2::before{
    content:'';
    position:absolute;
    width: 120%;
    height: 420%;
    background: var(--conic-gradient);
}

.btn2::after{
    content: 'Aircon';
    position: absolute;
    background-color: var(--bg-color);
    width: 96%;
    height: 86%;
    border-radius: .4em;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn2:hover{
    transform: scale(1.1);

}

.btn2:hover::before{
    animation: spin2 1.5s infinite linear;
}

@keyframes spin2{
    to{
        transform: rotate(360deg);
    }
}

#objects{
    margin-top: 70px;
}

/*threes*/

.btn3{
    width: 12em;
    height: 3.5em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.5);
    position:relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    transition: transform .3s ease;
}

.btn3::before{
    content:'';
    position:absolute;
    width: 120%;
    height: 420%;
    background: var(--conic-gradient);
}

.btn3::after{
    content: 'Bottle';
    position: absolute;
    background-color: var(--bg-color);
    width: 96%;
    height: 86%;
    border-radius: .4em;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn3:hover{
    transform: scale(1.1);

}

.btn3:hover::before{
    animation: spin3 1.5s infinite linear;
}

@keyframes spin3{
    to{
        transform: rotate(360deg);
    }
}

/*fours*/

.btn4{
    width: 12em;
    height: 3.5em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.5);
    position:relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    transition: transform .3s ease;
}

.btn4::before{
    content:'';
    position:absolute;
    width: 120%;
    height: 420%;
    background: var(--conic-gradient);
}

.btn4::after{
    content: 'Coin';
    position: absolute;
    background-color: var(--bg-color);
    width: 96%;
    height: 86%;
    border-radius: .4em;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn4:hover{
    transform: scale(1.1);

}

.btn4:hover::before{
    animation: spin4 1.5s infinite linear;
}

@keyframes spin4{
    to{
        transform: rotate(360deg);
    }
}

/*5s*/

.btn5{
    width: 12em;
    height: 3.5em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.5);
    position:relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    transition: transform .3s ease;
}

.btn5::before{
    content:'';
    position:absolute;
    width: 120%;
    height: 420%;
    background: var(--conic-gradient);
}

.btn5::after{
    content: 'Mouse';
    position: absolute;
    background-color: var(--bg-color);
    width: 96%;
    height: 86%;
    border-radius: .4em;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn5:hover{
    transform: scale(1.1);

}

.btn5:hover::before{
    animation: spin5 1.5s infinite linear;
}

@keyframes spin5{
    to{
        transform: rotate(360deg);
    }
}

/*sixes*/

.btn6{
    width: 12em;
    height: 3.5em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.5);
    position:relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    transition: transform .3s ease;
}

.btn6::before{
    content:'';
    position:absolute;
    width: 120%;
    height: 420%;
    background: var(--conic-gradient);
}

.btn6::after{
    content: 'Pillow';
    position: absolute;
    background-color: var(--bg-color);
    width: 96%;
    height: 86%;
    border-radius: .4em;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn6:hover{
    transform: scale(1.1);

}

.btn6:hover::before{
    animation: spin6 1.5s infinite linear;
}

@keyframes spin6{
    to{
        transform: rotate(360deg);
    }
}

/*sevens*/

.btn7{
    width: 12em;
    height: 3.5em;
    border-radius: 0.5em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.5);
    position:relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    transition: transform .3s ease;
}

.btn7::before{
    content:'';
    position:absolute;
    width: 120%;
    height: 420%;
    background: var(--conic-gradient);
}

.btn7::after{
    content: 'Bottle';
    position: absolute;
    background-color: var(--bg-color);
    width: 96%;
    height: 86%;
    border-radius: .4em;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn7:hover{
    transform: scale(1.1);

}

.btn7:hover::before{
    animation: spin7 1.5s infinite linear;
}

@keyframes spin7{
    to{
        transform: rotate(360deg);
    }
}